# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

#folders
.idea/
.pytest_chache/

# reporting
report/
reports/
report.xml

# logs
*.log

storybook-static/
/test-results/
/playwright-report/
/playwright/.cache/
.env.playwright

# Credentials
.*.json
.credentials.json
.testrail.cfg
.generated_user.json