{
  "project_urls": {
    "cmp": "",
    "app.cmp": ""
  },
  "users": {
    "userRole1": {
      "email": "",
      "password": ""
    },
    "admin_user": {
      "email": "",
      "password": ""
    }
  }
}
